body{
  text-align: center;
  background-image: url(JKchara.jpg);
}

#ask{
  margin-top: 0px;
  margin-bottom: 10px;
}

button{
  width: 150px;
}

#choice{
  width: 200px;
  margin: 0 auto;
  margin-top: 20px;
  margin-bottom: 30px;
  font-size: 30px;
  font-family: "MS Mincho";
}

ul{
  display: flex;
  justify-content: space-around;
}

#com_choice{
  font-size: 20px;
  width: 180px;
  margin: 0 auto;
  background-color: white;
}
